@tailwind base;
@tailwind components;
@tailwind utilities;

/* react calendar */
.rdp-chevron {
    fill: #0694A2 !important;
}
.rdp-day.rdp-today {
    color: #0694A2 !important;
}
.rdp-selected .rdp-day_button{
    border-color: #0694A2 !important;
}

/* swiper */
.swiper-pagination-bullet {
    background-color: #0694A2 !important;
}
.swiper-pagination-bullet-active-main{
    background-color: white !important;
}
/* todays workout swiper pagination */
.todays .swiper-pagination{
    width: 100% !important;
    display: flex;
    height: 5vh;
    position: relative;
    padding-left: 1%;
}

.timeline::-webkit-scrollbar {
    display: none;
}


/* swiper navigation btn */
.swiper-button-prev{
    left: 0;
}
.swiper-button-prev,
.swiper-button-next{
    color: #0694A2 !important;
    width: 40px;
    height: 40px;
    scale: 50%;
}
.swiper-button-prev:after,
.swiper-button-next:after{
    font-size: 25px;
    font-weight: 800;
}

/* markdown preview */
.wmde-markdown {
    background: none !important;
    color: black !important;
}

.wmde-markdown ol li {
    list-style: decimal !important;
}
.wmde-markdown ul li {
    list-style: disc !important;
}