@tailwind base;
@tailwind components;
@tailwind utilities;

/* react calendar */
.rdp-chevron {
    fill: #0694A2 !important;
}
.rdp-day.rdp-today {
    color: #0694A2 !important;
}
.rdp-selected .rdp-day_button{
    border-color: #0694A2 !important;
}

/* swiper */
.swiper-pagination-bullet {
    background-color: #0694A2 !important;
}
.swiper-pagination-bullet-active-main{
    background-color: white !important;
}

.todays .swiper-pagination{
    width: 100% !important;
    display: flex;
    height: 5vh;
    position: relative;
    padding-left: 1%;
}

.timeline::-webkit-scrollbar {
    display: none;
}